@use '../../styles/breakpoints.scss' as *;

.form {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    align-self: stretch;

    &-label {
      font-weight: var(--bold);
      color: var(--headers-color);
    }

    &-input,
    &-select {
      padding: var(--space-m) var(--space-l);
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      font-size: var(--font-size-m);
      transition: border-color var(--transition-speed);
      
      &:focus {
        border-color: var(--color-accent-blue);
        box-shadow: var(--box-shadow);
        outline: 2px solid var(--color-accent-blue);
        outline-offset: 2px;
      }
    }

    &-select {
      background: var(--color-white);
    }

  &_wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
  }

  &-icon {
    position: absolute;
    right: var(--space-l);
    top: 0;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    pointer-events: none;
    color: var(--color-primary);
    font-size: var(--font-size-l);
  }
}