.buttonLink {
    background: none;
    border: none;
    cursor: pointer;
    transition: var(--transition-speed);
    display: flex;
    gap: var(--space-x);
    align-items: center;
    text-decoration: underline;

    &:hover {
        color: var(--color-accent-blue);
        
    }
    &:active {
        color: var(--color-primary-dark);
    }
  }