@use '../../styles/breakpoints.scss' as *;

.pageHead {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--border-color);
    padding: var(--space-l) var(--space-l);
    align-self: stretch;

    @media (min-width: $media-xl) {
        padding: var(--space-l) 0rem;
    }

    &_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: var(--main-container-max-width);
    }

    &_account {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        flex: 1;
        gap: var(--space-x);

        &-title {
            font-size: var(--font-size-xl);
            color: var(--headers-color);
            font-weight: var(--bold);
        }
    }
}