@use '../../styles/breakpoints.scss' as *;


.section {
    display: flex;
    gap: var(--space-l);
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    &_main {
        display: flex;
        flex-direction: column;
        background: var(--color-white);
        padding: var(--space-2xl);
        flex: 1 0 0;
        border-radius: var(--border-radius);
        min-width: 0;
        box-shadow: var(--box-shadow);
        gap: var(--space-xl);
    }

    &_head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-x);

        &-title {
            font-size: var(--font-size-3xl);
            font-weight: var(--bold);
            color: var(--headers-color);
            line-height: 1.2;
        }

        &-subtitle {
            display: none;

            @media (min-width: $media-md) {
                display: block;
                font-size: var(--font-size-l);
                color: var(--text-color);
            }
        }
    }

    &_border {
        width: 100%;
        height: 1px;
        background-color: var(--border-color);
        flex-shrink: 0;

        &--secondary {
            background-color: var(--border-color-secondary);
        }
    }

}