@use '../../styles/mixins.scss';
@use '../../styles/breakpoints.scss' as *;


.section {
    display: flex;
    gap: var(--space-l);
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    &_main {
        display: flex;
        flex-direction: column;
        background: var(--color-white);
        padding: var(--space-2xl);
        flex: 1 0 0;
        border-radius: var(--border-radius);
        min-width: 0;
        box-shadow: var(--box-shadow);
        gap: var(--space-xl);
    }

    &_side {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: var(--aside-container-max-width);
        background: var(--color-white);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);

        &-header {
            @include mixins.text-l-bold;
            color: var(--headers-color);
            padding: var(--space-l);
            border-bottom: 1px solid var(--border-color);
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: var(--space-l);
            padding: var(--space-l);
        }
    }

    &_head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-x);

        &-title {
            @include mixins.text-3xl-bold;
            color: var(--headers-color);
        }

        &-subtitle {
            display: none;

            @media (min-width: $media-md) {
                display: block;
                @include mixins.text-l;
                color: var(--text-color);
            }
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: var(--space-l);
    }

    &_border {
        width: 100%;
        height: 1px;
        background-color: var(--border-color);
        flex-shrink: 0;

        &--secondary {
            background-color: var(--border-color-secondary);
        }
    }

}