.skeleton {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  &_row {
    display: flex;
    align-items: center;
    gap: var(--space-m);
    padding: var(--space-m, --space-l);
    border-bottom: 1px solid var(--border-color);
  }
  
  &-icon {
    width: 2rem;
    height: 2rem;
    border-radius: var(--border-radius);
    background: linear-gradient(90deg, #ececec, #f5f5f5, #ececec);
    background-size: 200% 100%;
    animation: pulse var(--transition-speed-skeleton) linear infinite;
  }

  &-type {
    width: 2.5rem;
    height: 1.6rem;
    border-radius: var(--border-radius);
    background: linear-gradient(90deg, #ececec, #f5f5f5, #ececec);
    background-size: 200% 100%;
    animation: pulse var(--transition-speed-skeleton) linear infinite;
  }

  &_body {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-x);

    &-line {
      height: var(--space-xl);
      border-radius: var(--border-radius);
      background: linear-gradient(90deg, #ececec, #f5f5f5, #ececec);
      background-size: 200% 100%;
      animation: pulse var(--transition-speed-skeleton) linear infinite;
    }
  }

  &-date {
      width: 5rem;
      height: 1.4rem;
      border-radius: var(--border-radius);
      background: linear-gradient(90deg, #ececec, #f5f5f5, #ececec);
      background-size: 200% 100%;
      animation: pulse var(--transition-speed-skeleton) linear infinite;
  }
}


@keyframes pulse {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}
