@use "../../styles/mixins.scss";


.collapsible {
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    &_trigger {
        display: flex;
        padding: var(--font-size-xl) var(--font-size-x);
        align-self: stretch;
        cursor: pointer;
        background-color: var(--collapsible-bg-color);

        &-title {
            flex: 1;
            @include mixins.text-l-bold;
            color: var(--headers-color);
            align-self: center;
        }
    }

    &-collapse {
        &[data-state="open"] {
            animation: slideDown var(--transition-speed);
        }
        &[data-state="closed"] {
            animation: slideUp var(--transition-speed);
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: var(--space-x);
        padding: var(--font-size-m);
    }
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }
    to {
        height: 0;
    }
}