@use "../../styles/mixins.scss";


.dialog {
    &_overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(2px);
        z-index: 999;
    }

    &_content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.96);
        background: var(--color-white);
        padding: var(--space-l);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        width: min(90vw, 44rem);
        max-height: calc(100vh - 4rem);
        z-index: 1000;
        animation: scaleIn 0.25s ease-out forwards;
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
    }
    
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-title {
          color: var(--headers-color);
          @include mixins.text-xl-bold;
        }
    }

    &_body {
      display: flex;
      flex-direction: column;
      gap: var(--space-x);
      width: 100%;
    }
      
    &_footer {
        display: flex;
        justify-content: center;
    }
}

