@use "../../styles/mixins.scss";

.documentFolder {
    display: flex;
    padding: var(--font-size-m) var(--font-size-x);
    align-self: stretch;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    &_type {
        display: flex;
        gap: var(--space-x);
        flex: 1;

        &-name {
            @include mixins.text-m-bold;
            color: var(--headers-color);
        }
    }

    &-files {
        @include mixins.text-m;
        color: var(--text-color-lighter);
    }

}