@use "../../styles/mixins.scss";


.documentItem {
    display: flex;
    padding: var(--font-size-xl) var(--font-size-x);
    align-self: stretch;
    border-bottom: 1px solid var(--border-color);

    &--small {
        border: none;
    }

    &_type {
        display: flex;
        gap: var(--space-x);
        flex: 1;
        align-items: center;

        &-name {
            @include mixins.text-l-bold;
            color: var(--headers-color);

            &--small {
                @include mixins.text-l;
                color: var(--text-color);
            }
        }
    }

    &-date {
        @include mixins.text-m;
        color: var(--text-color-lighter);
    }
}