@use "../../styles/mixins.scss";


.documentItem {
    display: flex;
    padding: var(--font-size-xl) var(--font-size-x);
    align-self: stretch;
    border-bottom: 1px solid var(--border-color);

    &--small {
        border: none;
    }

    &_type {
        display: flex;
        gap: var(--space-x);
        flex: 1;
        align-items: center;

        &-name {
            @include mixins.text-l-bold;
            color: var(--headers-color);

            &--small {
                @include mixins.text-l;
                color: var(--text-color);
            }
        }
    }

    &_badge {
        display: inline-flex;
        padding: var(--space-xs);

        &--pdf {
            background: #fff0f0;
            color: #c62828;
        }
        &--doc {
            background: #e8f0ff;
            color: #1a56db;
        }
        &--csv {
            background: #e8f6ef;
            color: #2e7d32;
        }
        &--mov {
            background: #f3e5f5;
            color: #6a1b9a;
        }
    }

    &-date {
        @include mixins.text-m;
        color: var(--text-color-lighter);
    }
}